# Spark DataFrame - Basics

Let's start off with the fundamentals of Spark DataFrame. 

Objective: In this exercise, you'll find out how to start a spark session, read in data, explore the data and manipuluate the data (using DataFrame syntax as well as SQL syntax). Let's get started!

In [ ]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import warnings
warnings.simplefilter(action='ignore')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('readin').getOrCreate()

In [ ]:
# Let's read in the data. Note that it's in the csv

#City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
#define the schema

# Let's import in the relevant types.
warnings.filterwarnings('ignore')
from pyspark.sql.types import *
Schema=StructType([
  StructField("City",StringType(),nullable=True),
  StructField("Date",StringType(),nullable=True),
  StructField("PM25",FloatType(),nullable=True),
  StructField("PM10",FloatType(),nullable=True),
  StructField("NO",FloatType(),nullable=True),
  StructField("NO2",FloatType(),nullable=True),
  StructField("NOX",FloatType(),nullable=True),
  StructField("NH3",FloatType(),nullable=True),
  StructField("CO",FloatType(),nullable=True),
  StructField("SO2",FloatType(),nullable=True),
  StructField("O3",FloatType(),nullable=True),
  StructField("benzene",FloatType(),nullable=True),
  StructField("toluene",FloatType(),nullable=True),
  StructField("Xylene",FloatType(),nullable=True),
  StructField("AQI",FloatType(),nullable=True),
  StructField("AQIBucket",StringType(),nullable=True)
])
df = spark.read.option("header",True).schema(Schema).csv("Datasets/city_day.csv")

df.show()

## Data Exploration

In [ ]:
# The show method allows you visualise DataFrames. We can see that there are two columns. 
df.show()

# You could also try this. 
df.columns

df.dtypes

df.describe().toPandas()

In [ ]:
# We can use the describe method get some general statistics on our data too. Remember to show the DataFrame!
# But what about data type?
# Then create a variable with the correct structure.
df.describe().show()

In [ ]:
# For type, we can use print schema. 
# But wait! What if you want to change the format of the data? Maybe change age to an integer instead of long?
# And now we can read in the data using that schema. If we print the schema, we can see that age is now an integer.
df.printSchema()

## Data Manipulation

In [ ]:
df.describe().toPandas()

df.groupby('AQIBucket').count().show()

In [ ]:

df.groupby('City').count().show()

In [ ]:
df.count()
# Let's see the data. You'll notice nulls.
df.show()

In [ ]:
# First, we have to register the DataFrame as a SQL temporary view.
df.createOrReplaceTempView('pollution')

# After that, we can use the SQL programming language for queries. 
results = spark.sql("SELECT * FROM pollution")
results.show()

In [ ]:
# After that, we can use the SQL programming language for queries. 
results1 = spark.sql("SELECT city, count(City) FROM pollution where AQI is null group by City")
results1.show()

# Exploring data with SQL

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore')

fig = plt.figure(figsize=(25,13))
st = fig.suptitle("Distribution of features",fontsize = 50, verticalalignment="center")
for col,num in zip(df.toPandas().describe().columns, range(1,11)):
    ax = fig.add_subplot(3,4, num)
    ax.hist(df.toPandas()[col])
    plt.grid(False)
    plt.xticks(rotation=45, fontsize=20)
    plt.yticks(fontsize=15)
    plt.title(col.upper(), fontsize=20)

plt.tight_layout()
st.set_y(0.95)
fig.subplots_adjust(top=0.85, hspace=0.4)
plt.show()

In [ ]:
#Import all the required functions
from pyspark.sql.functions import year 
df.createOrReplaceTempView('pollution')

results1 = spark.sql("SELECT city, Count(AQIBucket), count(City) FROM pollution where AQIBucket is not null group by City, AQIBucket")
results1.show()

In [ ]:
# Requires a certain amount of non-null values. Row two was dropped, as there's only one non-null value.
df.na.drop(thresh=8).show()

In [ ]:
# Also, it's good practice to use your average to fill missing data. 
from pyspark.sql.functions import mean

# Let's collect the average. You'll notice that the collection returns the average in an interesting format.
mean_pm25 = df.select(mean(df['PM25'])).collect()
#mean_pm25
mean_pm25[0][0]

# And finally, fill the missing values with the mean.
#df.na.fill(mean_pm25, subset=['PM25']).show()
#df.na.fill(mean_pm25[0][0], subset=['PM25']).show()

In [ ]:
# First, we have to register the DataFrame as a SQL temporary view.
df.createOrReplaceTempView('pollution')

results = spark.sql("SELECT * FROM pollution where pm25 is null")
results.show()

In [ ]:
df.filter(df.PM25.isNull()).show()
df = df.na.fill(mean_pm25[0][0], subset=['PM25'])
df.filter(df.PM25.isNull()).show()

In [ ]:
df.filter(df.PM25.isNull()).show()
from pyspark.sql.functions import isnan, when, count, col

df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show()

In [ ]:
# To Get Year from date or Time column
df = df.withColumn("year",year("Date"))

In [ ]:
df.show()

In [ ]:
df1=df

In [ ]:
df1.show()

In [ ]:
df1=df1.drop('date')

In [ ]:
df1.show()

In [ ]:
# Let's collect the average. You'll notice that the collection returns the average in an interesting format.
mean_pm10 = df.select(mean(df['PM10'])).collect()
#mean_pm10
mean_pm10[0][0]
df.filter(df.PM10.isNull()).show()
df1 = df1.na.fill(mean_pm10[0][0], subset=['PM10'])
df1.filter(df1.PM10.isNull()).show()

In [ ]:
df1.filter(df1.PM10.isNull()).show()

In [ ]:
df1.show()

In [ ]:
# Let's collect the average. You'll notice that the collection returns the average in an interesting format.
mean_pm10 = df.select(mean(df['PM10'])).collect()
#mean_pm10
mean_pm10[0][0]
df.filter(df.PM10.isNull()).show()
df1 = df1.na.fill(mean_pm10[0][0], subset=['PM10'])
df1.filter(df1.PM10.isNull()).show()

In [ ]:

df1=df1.drop('NO')
df1.show()

In [ ]:


df1=df1.drop('NOX')
df1=df1.drop('NH3')
df1=df1.drop('CO')
df1=df1.drop('benzene')
df1=df1.drop('toluene')
df1=df1.drop('Xylene')

In [ ]:
df1.show()

In [ ]:
#Replace 0 for null on only population column 
df2 = df1.na.fill(value=0,subset=["AQI"])

In [ ]:
#df1 = df1.na.fill(mean_pm10[0][0], subset=['PM10'])
df2.filter(df2.AQI.isNull()).show()

In [ ]:
#Replace 0 for null on only population column 
#df2 = df2.na.fill(value=0,subset=["AQI"]).show()

In [ ]:
df.show()

In [ ]:
import sys
from pyspark.sql.window import Window
import pyspark.sql.functions as func
df2.withColumn("AQIBucket1", func.last('AQIBucket', True).over(Window.partitionBy('City').orderBy('year').rowsBetween(-sys.maxsize, 0))).show()

In [ ]:

###backward fill
from pyspark.sql import Window
from pyspark.sql.functions import first

# define the window
window = Window.partitionBy('City')\
               .orderBy('Date')\
               .rowsBetween(0, sys.maxsize)

# define the forward-filled column
filled_column = first(df['AQIBucket'], ignorenulls=True).over(window)

# do the fill
spark_df_filled = df.withColumn('AQIBucket', filled_column)

# show off our glorious achievements
spark_df_filled.orderBy('City', 'Date').show(10)

In [ ]:
spark_df_filled.show()

In [ ]:
# First, we have to register the DataFrame as a SQL temporary view.
spark_df_filled.createOrReplaceTempView('pollution')

results2 = spark.sql("SELECT * FROM pollution where AQIBucket is null")
results2.show()

In [111]:
###backward fill
from pyspark.sql import Window
from pyspark.sql.functions import last

# define the window
window = Window.partitionBy('City')\
               .orderBy('Date')\
               .rowsBetween(-sys.maxsize ,0 )

# define the forward-filled column
filled_column = last(spark_df_filled['AQIBucket'], ignorenulls=True).over(window)

# do the fill
spark_df_filled2 = spark_df_filled.withColumn('AQIBucket', filled_column)

# show off our glorious achievements
spark_df_filled2.orderBy('City', 'Date').show(10)

22/10/09 11:00:25 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+
|     City|      Date|    PM25|PM10|    NO|  NO2|   NOX| NH3|    CO|  SO2|    O3|benzene|toluene|Xylene| AQI|AQIBucket|year|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+
|Ahmedabad|2015-01-01|67.45058|null|  0.92|18.22| 17.15|null|  0.92|27.64|133.36|    0.0|   0.02|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-02|67.45058|null|  0.97|15.69| 16.46|null|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|null|     Poor|2015|
|Ahmedabad|2015-01-03|67.45058|null|  17.4| 19.3|  29.7|null|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|null|     Poor|2015|
|Ahmedabad|2015-01-04|67.45058|null|   1.7|18.48| 17.97|null|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|null|     Poor|2015|
|Ahmedabad|2015-01-05|67.45058|null|  22.1|21.42| 37.76|null|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|null|     Poor|2015|
|Ahmedabad|2015-01-06|67.45058|null| 45.41|38.48|  81.5|null| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|null|     Poor|2015|
|Ahmedabad|2015-01-07|67.45058|null|112.16|40.62|130.77|null|112.16|32.28| 33.47|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-08|67.45058|null| 80.87|36.74| 96.75|null| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-09|67.45058|null| 29.16| 31.0|  48.0|null| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-10|67.45058|null|  null| 7.04|   0.0|null|  null| 8.29|  4.55|    0.0|    0.0|   0.0|null|     Poor|2015|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+
only showing top 10 rows

In [112]:
# First, we have to register the DataFrame as a SQL temporary view.
spark_df_filled2.createOrReplaceTempView('pollution')

results3 = spark.sql("SELECT * FROM pollution where AQIBucket is null")
results3.show()

22/10/09 11:00:36 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

+----+----+----+----+---+---+---+---+---+---+---+-------+-------+------+---+---------+----+
|City|Date|PM25|PM10| NO|NO2|NOX|NH3| CO|SO2| O3|benzene|toluene|Xylene|AQI|AQIBucket|year|
+----+----+----+----+---+---+---+---+---+---+---+-------+-------+------+---+---------+----+
+----+----+----+----+---+---+---+---+---+---+---+-------+-------+------+---+---------+----+

In [ ]:
# First, we have to register the DataFrame as a SQL temporary view.
spark_df_filled2.createOrReplaceTempView('pollution')

results4 = spark.sql("SELECT AQIBucket, count(AQIBucket),city,year FROM pollution group by AQIbucket,city,year")
results4.show()

In [ ]:
# First, we have to register the DataFrame as a SQL temporary view.
spark_df_filled2.createOrReplaceTempView('pollution')

results4 = spark.sql("SELECT AQIBucket, count(AQIBucket),city,year FROM pollution where AQIBucket is null group by AQIbucket,city,year")
results4.show()

In [113]:
spark_df_filled2.show()

22/10/09 11:00:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+
|     City|      Date|    PM25|PM10|    NO|  NO2|   NOX| NH3|    CO|  SO2|    O3|benzene|toluene|Xylene| AQI|AQIBucket|year|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+
|Ahmedabad|2015-01-01|67.45058|null|  0.92|18.22| 17.15|null|  0.92|27.64|133.36|    0.0|   0.02|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-02|67.45058|null|  0.97|15.69| 16.46|null|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|null|     Poor|2015|
|Ahmedabad|2015-01-03|67.45058|null|  17.4| 19.3|  29.7|null|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|null|     Poor|2015|
|Ahmedabad|2015-01-04|67.45058|null|   1.7|18.48| 17.97|null|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|null|     Poor|2015|
|Ahmedabad|2015-01-05|67.45058|null|  22.1|21.42| 37.76|null|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|null|     Poor|2015|
|Ahmedabad|2015-01-06|67.45058|null| 45.41|38.48|  81.5|null| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|null|     Poor|2015|
|Ahmedabad|2015-01-07|67.45058|null|112.16|40.62|130.77|null|112.16|32.28| 33.47|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-08|67.45058|null| 80.87|36.74| 96.75|null| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-09|67.45058|null| 29.16| 31.0|  48.0|null| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-10|67.45058|null|  null| 7.04|   0.0|null|  null| 8.29|  4.55|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-11|67.45058|null|132.07| 55.8| 24.53|null|132.07|25.03|  6.79|    0.0|    0.0|   0.0|null|     Poor|2015|
|Ahmedabad|2015-01-12|67.45058|null| 52.04|40.67| 90.24|null| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|null|     Poor|2015|
|Ahmedabad|2015-01-13|67.45058|null| 48.82| 44.2| 87.09|null| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|null|     Poor|2015|
|Ahmedabad|2015-01-14|67.45058|null|  19.2|27.86| 33.05|null|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|null|     Poor|2015|
|Ahmedabad|2015-01-15|67.45058|null|   0.6|16.96|  16.6|null|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|null|     Poor|2015|
|Ahmedabad|2015-01-16|67.45058|null|  1.63|21.72| 22.86|null|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|null|     Poor|2015|
|Ahmedabad|2015-01-17|67.45058|null| 11.44|24.73| 34.75|null| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|null|     Poor|2015|
|Ahmedabad|2015-01-18|67.45058|null|   6.1|25.77| 29.57|null|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|null|     Poor|2015|
|Ahmedabad|2015-01-19|67.45058|null|  2.51|26.88| 27.45|null|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|null|     Poor|2015|
|Ahmedabad|2015-01-20|67.45058|null|  7.92| 26.8|  32.4|null|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|null|     Poor|2015|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+
only showing top 20 rows

In [114]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder


indexer = StringIndexer(inputCol="AQIBucket", outputCol="AQIB_index").fit(spark_df_filled2)
spark_df_ind = indexer.transform(spark_df_filled2)
spark_df_ind.show()


#df3 = encoded

22/10/09 11:00:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, AQI_Bucket
 Schema: City, Date, AQIBucket
Expected: AQIBucket but found: AQI_Bucket
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv
22/10/09 11:00:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+
|     City|      Date|    PM25|PM10|    NO|  NO2|   NOX| NH3|    CO|  SO2|    O3|benzene|toluene|Xylene| AQI|AQIBucket|year|AQIB_index|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+
|Ahmedabad|2015-01-01|67.45058|null|  0.92|18.22| 17.15|null|  0.92|27.64|133.36|    0.0|   0.02|   0.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-02|67.45058|null|  0.97|15.69| 16.46|null|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-03|67.45058|null|  17.4| 19.3|  29.7|null|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-04|67.45058|null|   1.7|18.48| 17.97|null|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-05|67.45058|null|  22.1|21.42| 37.76|null|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-06|67.45058|null| 45.41|38.48|  81.5|null| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-07|67.45058|null|112.16|40.62|130.77|null|112.16|32.28| 33.47|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-08|67.45058|null| 80.87|36.74| 96.75|null| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-09|67.45058|null| 29.16| 31.0|  48.0|null| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-10|67.45058|null|  null| 7.04|   0.0|null|  null| 8.29|  4.55|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-11|67.45058|null|132.07| 55.8| 24.53|null|132.07|25.03|  6.79|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-12|67.45058|null| 52.04|40.67| 90.24|null| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-13|67.45058|null| 48.82| 44.2| 87.09|null| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-14|67.45058|null|  19.2|27.86| 33.05|null|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-15|67.45058|null|   0.6|16.96|  16.6|null|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-16|67.45058|null|  1.63|21.72| 22.86|null|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-17|67.45058|null| 11.44|24.73| 34.75|null| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-18|67.45058|null|   6.1|25.77| 29.57|null|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-19|67.45058|null|  2.51|26.88| 27.45|null|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|null|     Poor|2015|       2.0|
|Ahmedabad|2015-01-20|67.45058|null|  7.92| 26.8|  32.4|null|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|null|     Poor|2015|       2.0|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+
only showing top 20 rows

In [ ]:
# First, we have to register the DataFrame as a SQL temporary view.
spark_df_ind.createOrReplaceTempView('pollution')

results4 = spark.sql("SELECT AQIBucket ,AQIB_index, count(AQIB_index), city,year FROM pollution group by AQIBucket, AQIB_index, city,year")
results4.show()

In [115]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder

encoder = OneHotEncoder(inputCol="AQIB_index", outputCol="AQIB_vec")
ohe = encoder.fit(spark_df_ind) # indexer is the existing dataframe, see the question
encoded = ohe.transform(spark_df_ind)
encoded.show()

22/10/09 11:01:02 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+-------------+
|     City|      Date|    PM25|PM10|    NO|  NO2|   NOX| NH3|    CO|  SO2|    O3|benzene|toluene|Xylene| AQI|AQIBucket|year|AQIB_index|     AQIB_vec|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+-------------+
|Ahmedabad|2015-01-01|67.45058|null|  0.92|18.22| 17.15|null|  0.92|27.64|133.36|    0.0|   0.02|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-02|67.45058|null|  0.97|15.69| 16.46|null|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-03|67.45058|null|  17.4| 19.3|  29.7|null|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-04|67.45058|null|   1.7|18.48| 17.97|null|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-05|67.45058|null|  22.1|21.42| 37.76|null|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-06|67.45058|null| 45.41|38.48|  81.5|null| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-07|67.45058|null|112.16|40.62|130.77|null|112.16|32.28| 33.47|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-08|67.45058|null| 80.87|36.74| 96.75|null| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-09|67.45058|null| 29.16| 31.0|  48.0|null| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-10|67.45058|null|  null| 7.04|   0.0|null|  null| 8.29|  4.55|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-11|67.45058|null|132.07| 55.8| 24.53|null|132.07|25.03|  6.79|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-12|67.45058|null| 52.04|40.67| 90.24|null| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-13|67.45058|null| 48.82| 44.2| 87.09|null| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-14|67.45058|null|  19.2|27.86| 33.05|null|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-15|67.45058|null|   0.6|16.96|  16.6|null|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-16|67.45058|null|  1.63|21.72| 22.86|null|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-17|67.45058|null| 11.44|24.73| 34.75|null| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-18|67.45058|null|   6.1|25.77| 29.57|null|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-19|67.45058|null|  2.51|26.88| 27.45|null|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-20|67.45058|null|  7.92| 26.8|  32.4|null|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|null|     Poor|2015|       2.0|(5,[2],[1.0])|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+-------------+
only showing top 20 rows

In [116]:
encoded.toPandas()

22/10/09 11:01:08 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

,City,Date,PM25,PM10,NO,NO2,NOX,NH3,CO,SO2,O3,benzene,toluene,Xylene,AQI,AQIBucket,year,AQIB_index,AQIB_vec
0,Ahmedabad,2015-01-01,67.450577,NaN,0.92,18.219999,17.150000,NaN,0.92,27.639999,133.360001,0.00,0.020000,0.00,NaN,Poor,2015,2.0,"(0.0, 0.0, 1.0, 0.0, 0.0)"
1,Ahmedabad,2015-01-02,67.450577,NaN,0.97,15.690000,16.459999,NaN,0.97,24.549999,34.060001,3.68,5.500000,3.77,NaN,Poor,2015,2.0,"(0.0, 0.0, 1.0, 0.0, 0.0)"
2,Ahmedabad,2015-01-03,67.450577,NaN,17.40,19.299999,29.700001,NaN,17.40,29.070000,30.700001,6.80,16.400000,2.25,NaN,Poor,2015,2.0,"(0.0, 0.0, 1.0, 0.0, 0.0)"
3,Ahmedabad,2015-01-04,67.450577,NaN,1.70,18.480000,17.969999,NaN,1.70,18.590000,36.080002,4.43,10.140000,1.00,NaN,Poor,2015,2.0,"(0.0, 0.0, 1.0, 0.0, 0.0)"
4,Ahmedabad,2015-01-05,67.450577,NaN,22.10,21.420000,37.759998,NaN,22.10,39.330002,39.310001,7.01,18.889999,2.78,NaN,Poor,2015,2.0,"(0.0, 0.0, 1.0, 0.0, 0.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.020000,50.939999,7.68,25.059999,19.540001,12.47,0.47,8.550000,23.299999,2.24,12.070000,0.73,41.0,Good,2020,4.0,"(0.0, 0.0, 0.0, 0.0, 1.0)"
29527,Visakhapatnam,2020-06-28,24.379999,74.089996,3.42,26.059999,16.530001,11.99,0.52,12.720000,30.139999,0.74,2.210000,0.38,70.0,Satisfactory,2020,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0)"
29528,Visakhapatnam,2020-06-29,22.910000,65.730003,3.45,29.530001,18.330000,10.71,0.48,8.420000,30.959999,0.01,0.010000,0.00,68.0,Satisfactory,2020,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0)"
29529,Visakhapatnam,2020-06-30,16.639999,49.970001,4.05,29.260000,18.799999,10.03,0.52,9.840000,28.299999,0.00,0.000000,0.00,54.0,Satisfactory,2020,1.0,"(0.0, 1.0, 0.0, 0.0, 0.0)"
29530,Visakhapatnam,2020-07-01,15.000000,66.000000,0.40,26.850000,14.050000,5.20,0.59,2.100000,17.049999,NaN,NaN,NaN,50.0,Good,2020,4.0,"(0.0, 0.0, 0.0, 0.0, 1.0)"

In [117]:

#dataframe columns 
encoded.columns

encoded.show()

22/10/09 11:01:21 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket
 Schema: City, Date, PM25, PM10, NO, NO2, NOX, NH3, CO, SO2, O3, benzene, toluene, Xylene, AQI, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+-------------+
|     City|      Date|    PM25|PM10|    NO|  NO2|   NOX| NH3|    CO|  SO2|    O3|benzene|toluene|Xylene| AQI|AQIBucket|year|AQIB_index|     AQIB_vec|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+-------------+
|Ahmedabad|2015-01-01|67.45058|null|  0.92|18.22| 17.15|null|  0.92|27.64|133.36|    0.0|   0.02|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-02|67.45058|null|  0.97|15.69| 16.46|null|  0.97|24.55| 34.06|   3.68|    5.5|  3.77|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-03|67.45058|null|  17.4| 19.3|  29.7|null|  17.4|29.07|  30.7|    6.8|   16.4|  2.25|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-04|67.45058|null|   1.7|18.48| 17.97|null|   1.7|18.59| 36.08|   4.43|  10.14|   1.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-05|67.45058|null|  22.1|21.42| 37.76|null|  22.1|39.33| 39.31|   7.01|  18.89|  2.78|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-06|67.45058|null| 45.41|38.48|  81.5|null| 45.41|45.76| 46.51|   5.42|  10.83|  1.93|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-07|67.45058|null|112.16|40.62|130.77|null|112.16|32.28| 33.47|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-08|67.45058|null| 80.87|36.74| 96.75|null| 80.87|38.54| 31.89|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-09|67.45058|null| 29.16| 31.0|  48.0|null| 29.16|58.68| 25.75|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-10|67.45058|null|  null| 7.04|   0.0|null|  null| 8.29|  4.55|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-11|67.45058|null|132.07| 55.8| 24.53|null|132.07|25.03|  6.79|    0.0|    0.0|   0.0|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-12|67.45058|null| 52.04|40.67| 90.24|null| 52.04|51.84| 45.89|   2.41|   0.03|  7.88|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-13|67.45058|null| 48.82| 44.2| 87.09|null| 48.82|68.21| 35.16|   9.45|  13.35|  12.5|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-14|67.45058|null|  19.2|27.86| 33.05|null|  19.2|52.65| 20.96|   2.16|   2.26|  5.19|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-15|67.45058|null|   0.6|16.96|  16.6|null|   0.6|28.89| 47.63|   0.14|   0.04|  1.35|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-16|67.45058|null|  1.63|21.72| 22.86|null|  1.63|38.27| 46.03|   0.35|   0.05|  2.01|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-17|67.45058|null| 11.44|24.73| 34.75|null| 11.44| 49.5| 52.24|   0.68|    0.0|  3.27|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-18|67.45058|null|   6.1|25.77| 29.57|null|   6.1|48.43| 53.49|   0.74|   0.21|  2.75|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-19|67.45058|null|  2.51|26.88| 27.45|null|  2.51|50.03| 49.48|   0.26|   0.02|   2.8|null|     Poor|2015|       2.0|(5,[2],[1.0])|
|Ahmedabad|2015-01-20|67.45058|null|  7.92| 26.8|  32.4|null|  7.92|58.87| 56.37|   0.24|   0.01|  3.97|null|     Poor|2015|       2.0|(5,[2],[1.0])|
+---------+----------+--------+----+------+-----+------+----+------+-----+------+-------+-------+------+----+---------+----+----------+-------------+
only showing top 20 rows

In [118]:
from pyspark.ml.feature import VectorAssembler

inputCols = [
 'PM25',
 'year',
 'AQIB_index',
 'AQIB_vec']

outputCol = "features"
df_va = VectorAssembler(inputCols = inputCols, outputCol = outputCol)
encoded = df_va.transform(encoded)
encoded.select(['features']).toPandas().head(5)

22/10/09 11:02:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: City, Date, PM2.5, AQI_Bucket
 Schema: City, Date, PM25, AQIBucket
Expected: PM25 but found: PM2.5
CSV file: file:///home/ubuntu/722/aws-722-copy/Datasets/city_day.csv

                                            features
0  (67.45057678222656, 2015.0, 2.0, 0.0, 0.0, 1.0...
1  (67.45057678222656, 2015.0, 2.0, 0.0, 0.0, 1.0...
2  (67.45057678222656, 2015.0, 2.0, 0.0, 0.0, 1.0...
3  (67.45057678222656, 2015.0, 2.0, 0.0, 0.0, 1.0...
4  (67.45057678222656, 2015.0, 2.0, 0.0, 0.0, 1.0...